.add-comment-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid var(--primary-color);
}

.add-comment-input {
    flex-grow: 1;
}