.link {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease 0s;
}

span {
    transition: all 0.3s ease 0s;
}

.icon {
    fill: var(--inverted-primary-color);
}

.collapsed {
    .link {
        gap: 0;
    }
    
    span {
        font-size: 0;
    }
}