.article-list {
    display: flex;
    gap: 30px;
}

.bricks {
    &.article-list {
        flex-wrap: wrap;
    }
}

.lines {
    &.article-list {
        flex-direction: column;
    }
}

.item {
    flex: auto;
}
