.navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 30px;
}

.links {
    margin-left: auto;
    display: flex;
    gap: 20px;
}

.appname {
    width: var(--sidebar-width);
    text-align: center;
    padding-inline: 15px;
}

.dropdown {
    white-space: nowrap;
}