.profile-page-header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
}

.btns {
    display: flex;
    gap: 20px;

}

.edit-btn,
.save-btn,
.cancel-btn {
    margin-left: auto;
}